.sale{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sale-info{
    width: 29%;
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    position: relative;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 20px 15px;
}
.sale-data{
    width: 60%;
    
}
.sale-data h3{
    font-size: 30px;
    color: rgba(4, 4, 41, 0.89);
    margin: 0px;

}
.sale-chart{
    width: 40%;
    height: 100px;
   right: 0;
    position: absolute;
    bottom: 0;
    padding: 0px 15px;
}


.sale-info p{
    color: rgb(68, 65, 65);
  margin-top:   10px;
    
}
.sale-info span{
    padding-right: 5px;
}
@media(max-width:700px){
    .sale-info{
        width: 100%;
        margin: 10px;
    }
}
