.dashboard{
    background-color: #dbd9d638;
    padding: 30px 40px;
}
.container{
    width: 1000px;
    margin: 0px auto;
}
.margin{
    margin: 30px auto;
}
.unique-visitors{
    width: 1000px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-sizing: border-box
}
.row{
    display: flex;
    justify-content: space-between;
}
.element{
    width: 450px;
    background-color: white;
    padding: 18px;
    border-radius: 10px
}
